# Importing modules and data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

dataset = pd.read_csv('iris.csv')
dataset.rename(columns = {'sepal.length':'sepal_length','sepal.width':'sepal_width',
                          'petal.length':'petal_length','petal.width':'petal_width'},inplace=True)
dataset.head(5)

   sepal_length  sepal_width  petal_length  petal_width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [2]:
dataset['variety'].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [3]:
dataset['variety'] = dataset['variety'].replace(['Setosa','Versicolor','Virginica'],[1,2,3])

# Train/Test split

In [4]:
def train_test_split(x,y,train_split,test_split):
    
    idx = dataset.index.values.astype(int)

    np.random.seed(5)  
    np.random.shuffle(idx)

    x_train = np.empty((0,4))
    y_train = np.empty((0,0))
    x_test = np.empty((0,4))
    y_test = np.empty((0,0))

    train_cnt = round(0.8*len(idx))
    val_cnt = round(0.2*len(idx))
   

    for i in range(0,train_cnt):
        x = np.array(dataset.iloc[idx[i],0:4])
        x_train = np.append( x_train,[x],axis=0 )
        y_train = np.append( y_train,dataset.iloc[idx[i],4] )

    for i in range(train_cnt,len(idx)):
        x = np.array(dataset.iloc[idx[i],0:4])
        x_test = np.append(x_test,[x],axis=0 )
        y_test = np.append(y_test,dataset.iloc[idx[i],4])
    
    return x_train,y_train,x_test,y_test  

x,y = dataset.iloc[:,0:4],dataset.iloc[:,4]        
train_split,test_split = 0.8,0.2
x_train,y_train,x_test,y_test = train_test_split(x,y,train_split,test_split)

# Euclidian Distance

In [5]:
def euclidian_distance(point1,point2):
    distance = 0
    for i in range(len(point1)):
        distance += np.square(point1[i]-point2[i])
    return distance

# K Nearest Neighbors

In [6]:
def KNN(k):
    result = np.array([])
    for i in range(len(x_test)):
        dis = np.empty((0,2))
        for j in range(len(x_train)):
            dis = np.append(dis,[[euclidian_distance(x_train[j],x_test[i]),j]],axis=0)
        dis = dis[dis[:,0].argsort()]
        one,two,three = 0,0,0
        for j in range(k):
            if(y_train[int(dis[j][1])] == 1):
                one += 1
            elif (y_train[int(dis[j][1])] == 2):
                two += 1
            else:
                three += 1
        if (one>two and one>three):
            mx = 1
        elif (two>one and two>three):
            mx = 2
        elif (three>one and three>two):
            mx = 3
        result = np.append(result,mx)
    
    return result

            
result = KNN(3)

In [7]:
cnt = 0
for i in range(len(result)):
    if result[i]==y_test[i]:
        cnt += 1

print('Accuracy '+str((cnt/30)*100))

Accuracy 96.66666666666667